body {
  background-color: rgb(250,250,250);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gets the graph below the cards i.e column */
  flex-direction: column; 
}

/* for the graph */
.image {
  width: 370px;
  margin-top: 50px;
}

.p {
  color: cadetblue;
  font-size: 10px;
}

/* for responsiveness */
@media only screen and (max-width: 770px) {
  .container {
    margin: 0 10%;
  }
  .h2 {
    width: 100%;
  }
  .p {
    width: 100%;
  }
}